@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground:black;
    --pink: #ffb4b4;
    --light-pink: #fff4f3;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
